<template>
    <div id="firebaseui-auth-container"/>
</template>

<script>

let auth
let authProviders
let store

export default {
    mounted() {
        auth = this.$auth
        authProviders = this.$authProviders
        store = this.$store
        let router = this.$router

        
        if (process.browser) {
            let firebaseui = require('firebaseui');
            const ui = firebaseui.auth.AuthUI.getInstance() || new firebaseui.auth.AuthUI(auth)

            const config = {
                signInOptions: [
                    authProviders.Google
                ],
                signInSuccessUrl: '/',
                tosUrl: '/tos', //???
                privacyPolicyUrl: '/privacy-policy',
                callbacks: {
                    signInSuccessWithAuthResult: function (authResult, redirectUrl) {
                        let userData = authResult.user.providerData[0]
                        store.commit('user', userData)
                        console.log('signInSuccessWithAuthResult');
                        router.push('/')
                    },
                    uiShown: function () {
                        console.log('uiShown');
                    }
                }
            }
            ui.start('#firebaseui-auth-container', config)
        }
    },
}
</script>