<template>
    <v-card>
    <v-card-title>
        <slot name="date"></slot>
    </v-card-title>
    <v-data-table
        :headers="headers"
        :items="desserts"
        :items-per-page="20"
        class="elevation-1 d-block"
    ></v-data-table>
    </v-card>
</template>

<script>
export default {
    data () {
        return {
            headers: [
                { text: '이름',align: 'left',sortable: false,value: 'name' },
                { text: '1Game', value: 'game1' },
                { text: '2Game', value: 'game2' },
                { text: '3Game', value: 'game3' },
                { text: '4Game', value: 'game4' },
            ],
            desserts: [
                { name: '채수현', game1: 136, game2: 189, game3: 190},
                { name: '차화영', game1: 148, game2: 147, game3: 143},
                { name: '박세은', game1: 95, game2: 103, game3: 139},
                { name: '김수경', game1: 107, game2: 113, game3: 159},
                { name: '안훈민', game1: 144, game2: 116, game3: 155},

                { name: '문희택', game1: 205, game2: 206, game3: 208},
                { name: '이영아', game1: 97, game2: 100, game3: 76},
                { name: '배동호', game1: 176, game2: 135, game3: 171},
                { name: '임향은', game1: 96, game2: 93, game3: 111},
                { name: '홍경숙', game1: 124, game2: 101, game3: 148},
            ],
        }
    },
    mounted() {
        // var gameObj = {
        //     date:'20191109',
        //     club:'',
        //     list: [
        //         { name: '채수현', game1: 136, game2: 189, game3: 190},
        //         { name: '차화영', game1: 148, game2: 147, game3: 143},
        //         { name: '박세은', game1: 95, game2: 103, game3: 139},
        //         { name: '김수경', game1: 107, game2: 113, game3: 159},
        //         { name: '안훈민', game1: 144, game2: 116, game3: 155},

        //         { name: '문희택', game1: 205, game2: 206, game3: 208},
        //         { name: '이영아', game1: 97, game2: 100, game3: 76},
        //         { name: '배동호', game1: 176, game2: 135, game3: 171},
        //         { name: '임향은', game1: 96, game2: 93, game3: 111},
        //         { name: '홍경숙', game1: 124, game2: 101, game3: 148},
        //     ]
        // }
        // this.$db.collection("games").add(gameObj);

    }
}
</script>