<template v-slot:prepend>
  <v-list-item two-line>
    <v-list-item-avatar v-if="loginInfo.isLogin === true">
      <img :src="loginInfo.photoURL" />
    </v-list-item-avatar>

    <v-list-item-content>
      <v-list-item-title v-if="loginInfo.isLogin === false">
        <nuxt-link to="/LoginPage">로그인 Click!</nuxt-link>
      </v-list-item-title>
      <v-list-item-title v-if="loginInfo.isLogin === true">{{loginInfo.displayName}}</v-list-item-title>
      <v-list-item-subtitle v-if="loginInfo.isLogin === true">{{loginInfo.email}}</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  props: ["loginUserInfo"],
  data() {
    return {
      // isLogin: this.props.loginUserInfo.isLogin,
      // userMan: ''
    };
  },
  computed: {
    loginInfo() {
      const userInfo = this.$store.state.userInfo || false
      let isUser = userInfo ? true : false
      let isLogin = isUser || false
      return {
        isLogin,
        displayName: userInfo.displayName,
        email: userInfo.email,
        photoURL: userInfo.photoURL
      }
    }
  }
};
</script>