<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <login-pannel v-bind:loginUserInfo="loginUserInfo">
      </login-pannel>
      <v-list>
        <v-list-item
          v-for="(item, i) in getMenu"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <!-- 철브 -->
      <!-- <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn> -->
      <!-- 이게뭐냐 네모 -->
      <!-- <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn> -->
      <!-- 마이나스 -->
      <!-- <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn> -->
      <v-toolbar-title>{{$store.state.title}}</v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>바껴라(얍!!)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import LoginPannel from '@/components/LoginPannel'
export default {
  components: {
    LoginPannel
  },
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: '인포메이션',
          to: '/'
        },
        {
          icon: 'mdi-apps',
          title: '회원',
          to: '/CreateUser'
        },
        {
          icon: 'mdi-apps',
          title: '클럽',
          to: '/CreateClub'
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: '애니볼',
      loginUserInfo: {
        name: '훈ㅋ',
        isLogin: false
      }
    }
  },
  computed: {
    getMenu() {
      const userInfo = this.$store.state.userInfo;
      let list = [
        {
          icon: 'mdi-apps',
          title: '인포메이션',
          to: '/'
        },
        {
          icon: 'mdi-apps',
          title: '회원',
          to: '/CreateUser'
        },
        {
          icon: 'mdi-apps',
          title: '클럽',
          to: '/CreateClub'
        },
      ]

      if(userInfo) {
        list = [
          {
            icon: 'mdi-apps',
            title: '인포메이션',
            to: '/'
          },
          {
            icon: 'mdi-apps',
            title: '회원',
            to: '/CreateUser'
          },
          {
            icon: 'mdi-apps',
            title: '클럽',
            to: '/CreateClub'
          },
          {
            icon: 'mdi-apps',
            title: '로그아웃',
            to: '/LogoutPage'
          },
        ]

      }

      return list;
    }
  }
}
</script>
