<template>
  <v-card>
    <v-card-title>클럽</v-card-title>
    <client-only>
      <v-data-table :headers="tableHeaders" :items="items">
        <template v-slot:item.gitar="props">
          <v-icon small class="mr-2" @click="openJoinDialog('update', props.item)">edit</v-icon>
          <v-icon small @click="deleteItem(props.item)">delete</v-icon>
        </template>
      </v-data-table>
    </client-only>

    <v-card-actions>
      <v-btn @click="openJoinDialog('create')">등록</v-btn>
    </v-card-actions>
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>클럽등록</v-card-title>
        <v-card-text>
          <v-form>
            <v-container>
              <v-row>
                <v-col>
                  <v-text-field dense label="이름" v-model="form.name"></v-text-field>
                  <v-text-field dense label="위치" v-model="form.location"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
      <v-card-actions>
        <v-btn v-if="mode === 'create'" @click="dialogJoin">등록</v-btn>
      </v-card-actions>
    </v-dialog>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      tableHeaders: [
        // { text: "id", value: "id" },
        { text: "이름", value: "name" },
        { text: "위치", value: "location" },
        { text: "기타", value: "gitar" }
      ],
      form: {
        name: "",
        location: ""
      },
      items: [],
      selectedItem: null,
      dialog: false,
      mode: ""
    };
  },
  methods: {
    async read() {
      const a = await this.$db.collection("clubs").get();
      this.items = [];
      a.forEach(d => {
        const r = d.data();
        const item = {
          id: d.id,
          name: r.name,
          location: r.location
        };
        this.items.push(item);
      });
    },

    openJoinDialog(mode) {
      this.mode = mode;

      switch (mode) {
        case "create":
          this.form.name = "";
          break;
      }
      this.dialog = true;
    },
    async dialogJoin() {
      const obj = Object.assign(this.form);
      obj.createAt = new Date();
      if (!obj.name || !obj.location) {
        return;
      }
      await this.$db.collection("clubs").add(obj);
      await this.read();
      this.dialog = false;
    }
  },
  mounted() {
    this.read();
  }
};
</script>