<template>
  <v-card>
    <v-card-title>회원</v-card-title>
    <client-only>
      <v-data-table :headers="tableHeaders" :items="items">
        <template v-slot:item.gitar="props">
          <v-icon small @click="openJoinDialog('update', props.item)" color="puple">mdi-tennis</v-icon>
          <v-icon small @click="dialogOpen(props.item)" color="puple">mdi-delete</v-icon>
        </template>
      </v-data-table>
    </client-only>

    <v-card-actions>
      <v-btn @click="openJoinDialog('create')">등록</v-btn>
    </v-card-actions>
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>회원등록</v-card-title>
        <v-card-text>
          <v-form>
            <v-container>
              <v-row>
                <v-col>
                  <v-text-field dense label="이름" v-model="form.name"></v-text-field>
                </v-col>
                <v-col>
                  <v-select :items="clubItems" label="클럽" v-model="selectedClubItem" item-text="name" item-value="id" return-object></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
      <v-card-actions>
        <v-btn v-if="mode === 'create'" @click="dialogJoin">등록</v-btn>
        <v-btn v-else-if="mode === 'update'" @click="editItem">수정</v-btn>
      </v-card-actions>
    </v-dialog>
      <!-- <comfirm-dialog></comfirm-dialog> -->
  </v-card>
</template>

<script>
import ComfirmDialog from '@/components/ComfirmDialog'
export default {
  components: {
    ComfirmDialog
  },
  data() {
    return {
      tableHeaders: [
        // { text: "id", value: "id" },
        { text: "이름", value: "name" },
        { text: "클럽", value: "clubName" },
        { text: "기타", value: "gitar" }
      ],
      form: {
        name: "",
        clubName: "",
      },
      items: [],
      selectedItem: null,
      clubItems: [],
      selectedClubItem: null,
      dialog: false,
      mode: "",
      dialogComfirm: false,
      textListDelete: {
        title: '삭제하기',
        text: '정말로 삭제하시겠습니까?'
      }
    };
  },
  methods: {
    async read() {
      const a = await this.$db.collection("users").get();
      this.items = [];
      a.forEach(d => {
        const r = d.data();
        const item = {
          id: d.id,
          name: r.name,
          club: r.club,
        };
        let clubObj = this.$utils.findObject(this.clubItems, 'id', item.club);
        if (clubObj) {
          item.clubName = clubObj.name
        }
        this.items.push(item);
      });
    },
    async readClub() {
      const a = await this.$db.collection("clubs").get();
      this.clubItems = [];
      a.forEach(d => {
        const r = d.data();
        const item = {
          id: d.id,
          name: r.name,
          location: r.location,
        };
        
        this.clubItems.push(item);
      });
    },
    getColor(calories) {
      if (calories > 400) return "red";
      else if (calories > 200) return "orange";
      else return "green";
    },
    // 다이얼로그 오픈
    openJoinDialog(mode, item) {
      this.mode = mode;

      if (!mode) {
        return;
      }
      switch (mode) {
        case "create":
          this.form.name = "";
          this.form.club = "";
          this.selectedClubItem = null;
          break;
        case "update":
          this.selectedItem = item;
          this.form.name = item.name;
          this.form.club = item.club;
          let clubObj = this.$utils.findObject(this.clubItems, 'id', item.club);
          this.selectedClubItem = clubObj;
          break;
      }
      this.dialog = true;
    },
    // 다이얼로그 - 추가
    async dialogJoin() {
      const user = Object.assign(this.form);
      user.createAt = new Date();
      user.club = this.selectedClubItem.id
      if (!user.name || !user.club) {
        return;
      }
      await this.$db.collection("users").add(user);
      await this.read();
      this.dialog = false;
    },
    // 수정
    async editItem() {
      await this.$db
        .collection("users")
        .doc(this.selectedItem.id)
        .update(this.form);
      this.dialog = false;
      this.read();
    },
    // 삭제
    async deleteItem(item) {
      await this.$db
        .collection("users")
        .doc(item.id)
        .delete();
      this.read();
    },
    btnDelete() {
      dialogComfirm = true;
    },
    async dialogOpen(item) {
      const r = await this.$dialog.confirm({
        title: '정말로 삭제하시겠습니까?',
        text: '삭제하시려면 "네" 버튼을 눌러주세요',
        actions: {
          'false': '아니오',
          'true': '네'
        }
      })

      if(r) {
        this.deleteItem(item)
      }
    }
  },
  mounted() {
    this.readClub();
    this.read();
  }
};
</script>