<template>
    <v-container>
      <v-card>
        <v-card-title>
          <game-date-picker/>
        </v-card-title>
        <v-card-text>
          <client-only>
            <game-data-table>
              <template v-slot:date>
              </template>
              <template v-slot:table>
                {{tableData}}
              </template>
            </game-data-table>
          </client-only>
        </v-card-text>
      </v-card>
    </v-container>
</template>

<script>
  
import GameDatePicker from '@/components/GameDatePicker'
import GameDataTable from '@/components/GameDataTable'
  export default {
    components: {
      GameDatePicker,
      GameDataTable
    },
    data () {
      return {
        pickDate: 20191109,
        title: this.$store.state.title
      }
    },
    computed: {
      async tableData () {
        var a = await this.$db.collection("games").where('date', '==', this.pickDate).get()
        .then(function(querySnapshot) {
          querySnapshot.forEach(function(doc) {
            // doc.data() is never undefined for query doc snapshots
            console.log(doc.id, " => ", doc.data());
          })
        })
        .catch(function(error) {
          console.log("Error getting documents: ", error);
        });
      }
    },
    methods: {
      abskfaklsf() {
        this.$store.commit('setTitle','변해라')
      },

    }
  
  }
</script>