<template>
  <div class="login">
    <div>인증방법을 선택해 주세요</div>
    <client-only>
      <firebase-login-ui />
    </client-only>
  </div>
</template>

<script>
  import FirebaseLoginUi from '@/components/FirebaseLoginUi';

  export default {
    name: 'Login',
    components: {
      FirebaseLoginUi
    }
  }
</script>