<template>
  <div>
    <v-btn @click="logout">로그아웃</v-btn>
  </div>
</template>

<script>
  export default {
    components: {
    },
    data() {
      return {

      }
    },
    methods: {
      logout() {
        
      }
    }
  }
</script>